{% extends "base.html" %}
{% load static %}

{% block title %} 
All Candidates
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "cv/all_candidates.css" %}" />
{% endblock %}

{% block content %}
<section id="all-candidates">
  <h2 class="text-white">All Candidates</h2>

  <ul class="list-group list-group-flush">
    {% for c in candidates %}
    <li class="list-group-item pink-bg text-center">
      <a href="{% url "candidate-detail" c.slug %}">
          <div class="">
              <h3>{{ c.name }}</h3>
          </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}