{% extends "base.html" %}
{% load static %}

{% block title %} 
All Interviewees
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "cv/interviewee.css" %}" />
{% endblock %}

{% block content %}
<section id="all-candidates" class="m-4 text-center">
  <h2>All Interviewees </h2>

  <ul>
    {% for c in interviewee %}
      <li class="list-group-item pink-bg">
        <a href="{% url "candidate-detail" c.slug %}">
            <div class="">
                <h3>{{ c.name }}</h3>
            </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}