{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "app.css" %}">
    {% block css_files %} {% endblock %}
</head>
<body>
    <header id="main-navigation">
        <h1>
            <a href="{% url "starting-page" %}">CVEase</a>
        </h1>
        <nav>
            <a href="{% url "interviewee" %}">Interviewee</a>
            <a href="{% url "upload-cv" %}">Upload</a>
          </nav>

    </header>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>